.f-rs {
  font-size: 1.7rem;
}
.fh {
  font-size: 2.6rem;
}
.ls {
  font-size: 1.4rem;
}
.danger {
  background-color: #F55C5C;
  color: #FDDADA;
}
.confirm {
  background-color: #3768E5;
  color: #CBD8FB;
}
